/*var --background-image inits in lobby.component.ts */

.background-image {
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
}
.just-image {
  position: absolute;
  z-index: -1;
}
