<div class="slot-container">
  <img class="game" src="/slot-1128/mask_game.png" />
  <div class="logo">
    <img src="/slot-1128/logo.png" />
  </div>
  <div class="dsahboard">
    <img src="/slot-1128/but_bet_minus.png" />
    <img src="/slot-1128/but_bet_plus.png" />
    <img src="/slot-1128/but_info_bg.png" />
    <img src="/slot-1128/but_maxbet_bg.png" />
    <img src="/slot-1128/but_spin_bg.png" />
  </div>
  <!-- <img src="/slot-1128/" />
    <img src="/slot-1128/" />
    <img src="/slot-1128/" /> -->
</div>
