<main class="main-slots">
  <div class="carousel">
    <img
      class="navigation-arrow"
      src="/lobby/arrow-left.png"
      (click)="navigate('previous')"
    />
    @for(slot of slots() | slice: start:end ; track slot.id){
    <div class="slot-container">
      <img [class.locked]="slot.isLocked" [src]="slot.image" />
      @if(slot.isLocked){
      <div class="locked-image">
        <img src="/lobby/lock.png" />
      </div>
      }
    </div>
    }
    <img
      class="navigation-arrow"
      src="/lobby/arrow-right.png"
      (click)="navigate('next')"
    />
  </div>

  <div class="bullets">
    @for(_ of [].constructor(getPages);track i ; let i =$index ){
    <img
      [src]="i === position ? '/lobby/bullet-on.png' : '/lobby/bullet-off.png'"
    />
    }
  </div>
</main>
